DB_PORT=postgres
DB_HOST=postgres
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres

# openssl rand -hex 32
JWT_SECRET_KEY=change_it

ACCESS_TOKEN_EXPIRE_MINUTES=60

EVENT_SERVICE_URL=http://event_info:8000
USER_SERVICE_URL=http://user_personal_info:8000
